body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Mini logo */
.custom-logo-box {
  min-height: 150px;
}

/* Pilar de libros */
.book-pillar {
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 8px;
  border-radius: 8px;
}

.vertical-text {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.icon-circle {
  width: 42px;
  height: 42px;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

/* Personalizado para el navbar */
#main-navbar {
  font-size: 25px
}

#main-navbar .btn{
  font-size: 25px;
}

#navbarNav > ul :hover {
  border-bottom: 2px solid #dfa0aa;
  color: #dfa0aa;
}

main {
  flex: 1; 
}

/* Estilos para pantallas medianas y mayores */
/* @media para pantallas medianas y mayores */
@media (min-width: 768px) {

  .custom-logo-box,
  .custom-books-container {
    min-height: 600px; 
  }

 
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    letter-spacing: 3px;
  }

  
  .book-pillar {
    margin-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 12px;  
    border-top-right-radius: 12px;
  }

 
  .book-pillar:hover {
    transform: scaleY(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
}

/* Sección de información */
#info-section {
    font-size: 18px;
}

#info-section .info-icon-circle {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 25px;
}

/* Líneas intermedias que solo aparecen de tablets/PC en adelante */
@media (min-width: 768px) {
    .border-end-md {
        border-right: 1px solid #e0e0e0 !important;
    }
}

/* Cuerpo de la tarjetas de los libros */
.card-body{

  h6{
    font-size: 20px;
  }

  h3{
    font-size: 35px;
  }

  p > i{
    font-size: 20px;
    color: #845f4a
  }

  .price{
    font-size: 30px;
  }
}


#catalog-section span{
  border: 5px solid #845f4a;  
}

#catalog-section .catalog-card {
  min-height: 100%;
}

#catalog-section .catalog-card-img {
  height: 400px;
  object-fit: cover;
  align-items: center;
}



footer {
  h5 {
    font-size: 20px;
  }

    a > i{
        font-size: 20px;
        padding: 0 5px;
    }
    
    li> a{
        color: #845f4a;
        text-decoration: none;
        font-size: 18px;
        &:hover{
            text-decoration: underline;
        }
    }

    ul > li {
        font-size: 18px;
        color: #845f4a; 
    }

    span{
        font-size: 25px;
        color: #dfa0aa;
    }

}
 


