html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Personalizado para el navbar */
#main-navbar {
  font-size: 15px;
}

#main-navbar .btn {
  font-size: 15px;
}

#navbarNav > ul :hover {
  border-bottom: 2px solid #dfa0aa;
  color: #dfa0aa;
}

main {
  flex: 1;

  .logo-login {
    height: 150%;
    width: 150%;
  }

  i {
    font-size: 30px;
  }
}

footer {
  h5 {
    font-size: 18px;
  }

  a > i {
    font-size: 15px;
    padding: 0 5px;
  }

  li > a {
    color: #845f4a;
    text-decoration: none;
    font-size: 15px;
    &:hover {
      text-decoration: underline;
    }
  }

  ul > li {
    font-size: 15px;
    color: #845f4a;
  }

  span {
    font-size: 18px;
    color: #dfa0aa;
  }
}
