html {
  scroll-behavior: smooth;
}
/* Mini logo */
.custom-logo-box {
  min-height: 150px;
}

/* Personalizado para el navbar */
#main-navbar {
  font-size: 15px;
}

#main-navbar .btn {
  font-size: 15px;
}

#navbarNav > ul :hover {
  border-bottom: 2px solid #dfa0aa;
  color: #dfa0aa;
}

/* Limita el ancho del elemento principal al 80% centrado en pantallas grandes */
@media (min-width: 992px) {
  .custom-main-boxed {
    max-width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 767.98px) {
 
  .contenedor-boton-filtros,
  #sidebar {
    width: 90% !important;
    max-width: 440px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-right: none !important;
  }

  
  #sidebar .sidebar-content {
    max-height: 450px !important;
  }
}

/* Sidebar */
.custom-sidebar {
  border-right: 1px solid #e0e0e0;
  padding-bottom: 2rem;
}

.form-check-label {
  font-size: 0.95rem;
  color: #495057;
  cursor: pointer;
  user-select: none;
}

.form-check:hover .form-check-label {
  color: #000;
  font-weight: 500;
}

/* Cuerpo de la tarjetas de los libros */
.card-body {
  p {
    font-size: 21px;
  }
  p > i {
    font-size: 15px;
    color: #845f4a;
  }
  .price {
    font-size: 19px;
  }
}

#catalog-section span > h4 {
  border: 2px solid #845f4a;
}

#catalog-section .catalog-card {
  min-height: 100%;
}

.catalog-img-container {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
}

/* Ajuste de la imagen del libro */
.catalog-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.card-title-book {
  font-size: 0.9rem;
  line-height: 1.2;
}

footer {
  h5 {
    font-size: 18px;
  }

  a > i {
    font-size: 15px;
    padding: 0 5px;
  }

  li > a {
    color: #845f4a;
    text-decoration: none;
    font-size: 15px;
    &:hover {
      text-decoration: underline;
    }
  }

  ul > li {
    font-size: 15px;
    color: #845f4a;
  }

  span {
    font-size: 18px;
    color: #dfa0aa;
  }
}
