$primary: #dfa0aa;
$secondary: #f0eddc;
$info: #845f4a;


.nav-link:hover {
    background-color: rgba($primary, .15);
}

$display-font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem,
);

@import "../node_modules/bootstrap/scss/bootstrap";
